{{#each commits}}
	<a id="{{sha}}" href="#" class="list-group-item js-commit">
		{{commit.message}} ({{commit.author.name}})
	</a>
  {{#if isShowingDetails}}
    <cat-commits-details id="commit-details-{{commit.sha}}" cat-store="commits/Details"></cat-commits-details>
  {{/if}}
{{/each}}
