{{#each commits}}
	<a href="#" class="list-group-item js-commit" data-id="{{sha}}">
		{{commit.message}} ({{commit.author.name}})
	</a>
  {{#if isShowingDetails}}
    <cat-commits-details cat-store="commits/Details"></cat-commits-details>
  {{/if}}
{{/each}}
